.mainPage{
    height: 100vh;
    background: var(--Pinky);
}
.router{
    position: absolute;
    width: 60%;
    height: 80vh;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    margin: 10vh 20%;
}
@media (width <= 1024px) {
    .router{
        width: 80%;
        margin: 8vh 10%;
    }
}
@media(max-width: 600px) {
}